<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtsnfB8rQnJxVGH61fsP7kOpNOz3cMN4w</string>
	<key>GCM_SENDER_ID</key>
	<string>1017673690753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tamirKolay</string>
	<key>PROJECT_ID</key>
	<string>tamir-kolay-3c428</string>
	<key>STORAGE_BUCKET</key>
	<string>tamir-kolay-3c428.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017673690753:ios:abcb54c1e7e2c877766780</string>
	<key>DATABASE_URL</key>
	<string>https://tamir-kolay-3c428-default-rtdb.firebaseio.com</string>
</dict>
</plist>